.content {
 background-color: #0753A2;
 width: 100%;
 height: 100vh;
 animation-name: color-background;
 animation-duration: 14s;
}

.center {
 height: 30%;
 width: 90%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.first, .second {
 /*background-color: #A5BE22;*/
 height: 100%;
 position: relative;
}

.row {
 height: calc((1/5)*100%);
 /*background-color: red;*/
}

.color {
 background-color:  #A5BE22;
 height: 100%;
 border: 1px solid black;
 animation-name: color-div;
 animation-duration: 14s;
}

.first{
 animation-name: first;
 animation-duration: 14s;
}

.second {
 animation-name: second;
 animation-duration: 14s;
}

@media screen and (max-width:600px){
 .center{
  height: 20%;
 }
}

@keyframes first {
 0% {top:0; left:50%;}
 25% {top:100%; left:50%;}
 50% {top:100%; left:50%;}
 75% {top:100%; left:0%;}
 100% {top:0; left:0;}
}

@keyframes second {
 0% {top:100%; right:50%;}
 25% {top:100%; right:50%;}
 50% {top:0; right:50%;}
 75% {top:0; right:50%;}
 100% {top:0; right:0;}
}

@keyframes color-background {
 0% {background-color: #EBA96C}
 25% {background-color:#BD6615}
 50% {background-color:#690970}
 75% {background-color:#C83852}
 100% {background-color:#F04813}
}

@keyframes color-div {
 0% {background-color: #81018F}
 25% {background-color:#230770}
 50% {background-color:#C8A538}
 75% {background-color:#706C24}
 100% {background-color:#2290BD}
}
